<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<section class="page-body" >
 <header class ="text-center">
  <h1>/// Sign Up ///</h1>
</header>
    <p class ="text-center signup-text"> We want to empower artists with all the tools they need to connect directly with fans whilst growing their audience.</p>
  <p class ="text-center signup-text2"> Sign up here to be one of our first users. </p>
 <article>
     <div id="mc_embed_signup">
  <form action="//firstroots.us9.list-manage.com/subscribe/post?u=5e4fcc57fe731bbd61a9db775&amp;id=77f70cb382" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <div class="indicates-required text-right"><span class="asterisk">*</span> indicates required</div>
  <div class="form-group">
    <label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
    
      <input type="email" class="form-control" name="EMAIL" id="mce-EMAIL" placeholder="Email">
   
  </div>
  <div class="form-group">
    <label for="mce-WEBSITE">Social/SoundCloud Link</label>
      <input type="url" class="form-control" name="WEBSITE" id="mce-WEBSITE" placeholder="Link">
  </div>
        <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_5e4fcc57fe731bbd61a9db775_77f70cb382" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default"></div>

     <%= image_tag("first_roots.png", :class => "logo") %>
</form>
</div>
</article>
<article id="social-media" class="page-body">
  <div class="widget">
<div class="fb-page" data-href="https://www.facebook.com/firstrootsmedia" data-width="395" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/firstrootsmedia"><a href="https://www.facebook.com/firstrootsmedia">First Roots</a></blockquote></div></div>
  </div>
  <div class="widget">
  <a class="twitter-timeline" href="https://twitter.com/firstrootsmedia" data-widget-id="628234001334050816">Tweets by @firstrootsmedia</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
  
</article>

 
</section>