<footer id="footer">
  <div class="container">
   <%=  image_tag("rackspace_sponsor.png", :class => "pull-left")  %>
    <p class="muted credit pull-right"> CONTACT@FIRSTROOTS.CO.UK </p>
  </div>
</footer>